<div>
  <img src="<%- currentUser.address %> "  alt="" />
    <p>
      <strong>First Name:</strong> <%- currentUser.firstName %>
    </p>
    <p>
      <strong>Last Name:</strong> <%- currentUser.lastName %>
    </p>
    <p>
      <strong>Email:</strong> <%- currentUser.email %>
    </p>
</div>
