<div>
    <p>
      <strong>First Name:</strong> <%- currentUser.firstName %>
    </p>
    <p>
      <strong>Last Name:</strong> <%- currentUser.lastName %>
    </p>
    <p>
      <strong>Email:</strong> <%- currentUser.email %>
    </p>
    <p>
      <strong>Account Type:</strong> <%- currentUser.type %>
    </p>
</div>
