<div class="newListings">
  <br>
  <a href="/new_listing">
  <button class="btn btn-primary">New Listings</button>
  </a>
  <br>
  <br><br>
  <a href="/final_new_listing">
  <button class="btn btn-primary">START!</button>
  </a>
</div>
