<div class="containter">
  <p class="col-xs-6">
    Hi, <%- currentUser.firstName %>! Lets get you ready to list your business.
  </p>
<span class="col-xs-7">Step 1</span>

<h3 class="col-xs-7">What industry is your business in?</h3>
</div>
<form class="col-xs-7" action="index.html" method="post">
  <select class="selectpicker" data-live-search="true">
    <option selected>Open this select menu</option>
    <option data-tokens="Agriculture ">Agriculture and Fishing</option>
    <option data-tokens="Mining">Mining and Quarrying</option>
    <option data-tokens="">Manufacturing</option>
    <option data-tokens="">Electricity, Gas, Steam and Air-Conditioning Supply</option>
    <option data-tokens="">Water Supply; Sewerage, Waste Management and Remediation Activities</option>
    <option data-tokens="">Construction</option>
    <option data-tokens="">Wholesale and Retail Trade</option>
    <option data-tokens="">Transportation and Storage</option>
    <option data-tokens="">Accomodation and Food Service Activities</option>
    <option data-tokens="">Information and Communications</option>
    <option data-tokens="">Financial and Insurance Activities</option>
    <option data-tokens="">Real Estate Activities</option>
    <option data-tokens="">Professional, Scientific and Technical Activities</option>
    <option data-tokens="">Administrative and Support Service Activities</option>
    <option data-tokens="">Public Administration and Defence</option>
    <option data-tokens="">Education</option>
    <option data-tokens="">Health and Social Services</option>
    <option data-tokens="">Arts, Entertainment and Recreation</option>
    <option data-tokens="">Other Service Activities</option>
    <option data-tokens="">Activities of Households as Employers of</option>
    <option data-tokens="">Domestic Personnel</option>
    <option data-tokens="">Activities of Extra-Territorial Organisations and Bodies</option>
    <option data-tokens="">Activities Not Adequately Defined</option>
</select>

</form>
