<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Experienced & Young</title>
    <!-- load jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

    <!-- load CSS -->
    <link rel="stylesheet" href="/css/bootstrap.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/js/bootstrap.min.js" integrity="sha384-VjEeINv9OSwtWFLAtmc4JCtEJXXBub00gtSnszmspDLCtC0I4z4nqz7rEFbIZLLU" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>

    <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
      <a class="navbar-brand" href="#">
        <img class="brand" src="/img/young_vs_old.jpg" alt="" />
      </a>
      <ul class="nav navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
        <li class="nav-item pull-xs-right">
          <div class="btn-group">
            <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <% if(currentUser){ %>
              <%- currentUser.firstName %>
             <% } else{ %>
               User
            <% } %>
            </button>
            <div class="dropdown-menu dropdown-menu-right">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item">
                <form class="" action="/auth/logout" method="GET">
                  <button type="submit" class="btn btn-danger">Log Out</button>
                </form>
            </div>
          </div>
        </li>
      </ul>
      <form class="form-inline pull-xs-center">
        <input class="form-control" type="text" placeholder="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>

    </nav>

    <div class="content">
      <h1>Mix Experienced with Young</h1>
    </div>

    <% include ./partials/alerts %>

    <%- body %>

  </body>
</html>
