body{
  text-align: center;
  background-color: white;
  font-family: "Lucida Bright", Georgia, serif;
}

h1 {
  padding: 5px;
}

a:hover {
  color: #d7d7d7;
  text-decoration: none;
}

.text-left {
  text-align: left;
}

.brand {
  height: 30px;
}

.ink {
  color: white;
}

.logIn {
  display: inline-block;
}

.signUp {
  display: inline-block;
}

/*#filterDiv {
border: 2px dashed yellow;
height: auto;
}*/

/*#information {
  border: 2px dashed green;
  height: auto;
}*/

/*#contentDiv {
  text-align: left;
  border: 2px dotted orange;
  padding: 10px;
}*/

#BizName {
  font-size: 16pt;
  color: #CA8b88;
}

.lil {
  font-size: 10pt;
  color: #d3d3d3;
}
.lil2 {
  font-size: 8pt;
  color: #d3d3d3;
}

/*#entire {
  border: 5px solid black;
}*/

#Vdisplay {
  font-size: 16pt;
  color: #B8DAD8;
}

#pic {
  height: 100%;
  width: 100%;
  border-radius: 15px;
}

/*#ls {
  border: 3px dashed green;
}*/
#carouRow {

}

#picc {
  height: 500px;
}

.carousel-inner > .carousel-item > a > img {
    margin: 0 auto;
    height: 300px;
}

.pclass {
  padding: 5px 0;
}

#pricecss {

}

.zhngText {
  font-size: 10pt;
}
#ink {
  color: white;
  font-family: "Lucida Bright", Georgia, serif;
}

#profilePic {
  height: 30px;
  border-radius: 10pt;
}
